body {
  font-family: "Arial", sans-serif;
}

div#header {
  margin-left: 230px;
}

.bar {
  fill: #ff0000;
}

.axis {
  font-size: 13px;
}

.axis path, .axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}